#install4j response file for JIRA Software 7.7.1
app.jiraHome={{ home_dir }}
app.install.service$Boolean=true
executeLauncherAction$Boolean=true
httpPort$Long={{ listening_port }}
launch.application$Boolean=false
rmiPort$Long=8005
sys.confirmedUpdateInstallationString=false
sys.installationDir={{ app_dir }}
sys.languageId=en